{% extends 'layout.html' %}
{% block things %}

<html>

    <head>
        
        <meta charset="utf-8">
        <style>
            
            #h1{
                padding-left: 30px;
                padding-top: 20px;
                padding-right: 30px;
                color: #000;
                font-size: 35px;
            }
            #p1{
                padding-left: 30px;
                padding-top: 20px;
                padding-right: 30px;
                color: #000;
                text-align: justify;
                font-size: 25px;
            }
        
        </style>
        
        <h1 id="h1">Finger Game Instructions</h1>
        <p id="p1">Welcome to the Finger Game Instructions Manual! Here you will learn all about
        playing the game properly.</p>
        <h1 id="h1">How It Works</h1>
        <p id="p1"> As soon as you click the start button, get ready! An arrow will show up on the right hand
            side of the screen. In the middle of the screen, you will see your own web camera showing your face. Move your face in any direction other than the arrow's direction to get a point. If you move your head in the direction of the arrow, the game will automatically end. You will have a set amount of time to determine where you want to move your head. </p>
        <h1 id="h1">Leaderboard</h1>
        <p id="p1"> There will be a leaderboard, where you will be able to see the best people on a worldwide scale. You must create an account to be eligible to enter.</p>
    
    </head>
    
</html>

{% endblock %}