<!DOCTYPE html>
<html>
<head>
    {% include "layout.html" %}
</head>
<!-- {% block content %} -->
<body>
  <div id="container">
      <video autoplay='true' id=videoElement>
      </video>
    </div>

    <script type="text/javascript">
      var imagesArray = ["left.jpg", "right.jpg", "up.jpg", "down.jpg"];
      function displayImage(){
        var num = Math.floor(Math.random() * 4);
        document.canvas.src = imagesArray[num];
      }
    </script>

    <div id = game>

    <script>
      var video = document.querySelector("#videoElement");

      if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({ video: true })
      .then(function (stream) {
        video.srcObject = stream;
      })
      .catch(function (err0r) {
        console.log("Something went wrong!");
      });
      }
    </script>

    <div class="container">
      <div class="centered"><img src="{{url_for('static', filename='blank.jpg')}}" name="canvas" /></div>
    </div>

  </div>

  <div id="button">
   <input class="button" onclick="displayImage();" type=button value="Start">
  </div>
</body>
<!-- {% endblock content %} -->
</html>
